:root {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #f5f7fa;
    margin: 0;
    --primary-color: #0275FF;
    --secondary-color: #333;
    --background-color: white;
    --border-radius: 10px;
    --hover-bg-color: #f0f4ff;
    --transition-duration: 0.3s;
}

body {
    margin: 0;
    height: 100vh;
    max-height: 800px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 25px;
}


h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: var(--primary-color);
    font-weight: 100;
}

.size-container {
    width: 30px;
}

#size-slider {
    height: 8px;
    width: 80vw;
    max-width: 400px;
    -webkit-appearance: none; /* Remove default slider appearance */
    appearance: none;
    border-radius: 5px;
    background: #d1d9e6;
    outline: none;
    margin: 20px 0;
}

#password {
    font-size: 36px;
    color: var(--secondary-color);
}

label[for] {
    cursor: pointer;
}

.password-container {
    width: 100%;
    margin: 50px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}

.buttons,
.controls {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 24px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #0275FF;
    color: #0275FF;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 200px;
    margin: 0 6px;
}

button:hover {
    background-color: #0275FF;
    color: #ffffff;
}

button.copied {
    background-color: limegreen;
    border-color: limegreen;
    color: white;
}

.checkbox-container {
    margin: 0 6px;
}

.checkbox-label {
    font-size: 16px;
    color: #333;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
}

.checkbox-custom {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #0275FF;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-input:checked + .checkbox-custom {
    background-color: #0275FF;
    border-color: #0275FF;
}

.checkbox-input:checked + .checkbox-custom .checkmark {
    display: block;
}
